body{
    background-color: rgb(200, 190, 102);
}

.main-heading, 
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.main-heading,
.nav-bar{
    background-color: white;
    padding: 15px;
}
.main-heading{
    
    text-align: center;
    border: 1px solid red;
   

}
.nav-bar{
    border: 1px solid black;
    
}
.home-link{
    background-color: white;
    color: red;
    padding: 5px;
}

.nav-bar li a{
    font-size: 22px;
    font-weight: bold;
}

.steps-list{
    font-family: 'Courier New', Courier, monospace;
}

.description-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    
}